.button {
    padding: 25px;
    border-radius: 15px;
    font-weight: bold;
    font-size: large;
    color: #F5E9DA;
    background-color: #660033;
    margin-top: 15px;
    margin-left: 13px;
    
}
